@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #ffffff !important;
  color: #171717;
}

html {
  background-color: #ffffff !important;
  scroll-padding-top: 80px; 
}
